*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family: Arial, sans-serif;

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.chat-container{

    width:420px;
    height:700px;

    background:#ffffff;

    border-radius:20px;

    overflow:hidden;

    box-shadow:
    0 10px 40px rgba(0,0,0,0.4);

    display:flex;
    flex-direction:column;
}

.chat-header{

    background:#111827;

    color:white;

    padding:20px;

    text-align:center;
}

.chat-header p{
    margin-top:5px;
    opacity:0.7;
}

.chat-box{

    flex:1;

    padding:20px;

    overflow-y:auto;

    background:#f8fafc;
}

.user-message,
.bot-message{

    padding:14px;

    border-radius:15px;

    margin-bottom:15px;

    max-width:80%;

    animation:fade 0.3s ease;
}

.user-message{

    background:#2563eb;

    color:white;

    margin-left:auto;
}

.bot-message{

    background:#e2e8f0;

    color:#111827;
}

.chat-input{

    display:flex;

    padding:15px;

    gap:10px;

    border-top:1px solid #ddd;

    background:white;
}

.chat-input input{

    flex:1;

    padding:14px;

    border-radius:12px;

    border:1px solid #ccc;

    outline:none;

    font-size:16px;
}

.chat-input button{

    background:#2563eb;

    color:white;

    border:none;

    padding:14px 18px;

    border-radius:12px;

    cursor:pointer;

    transition:0.3s;
}

.chat-input button:hover{

    background:#1d4ed8;
}

@keyframes fade{

    from{
        opacity:0;
        transform:translateY(10px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}